
img{
    width: 10%;
    display: block;
    margin: auto;
}
.header {
    padding-bottom: 1%;
    padding-top: 5%;
}
#phone{
    width: 50%;
}
.row{
padding-top: 2%;
}

#botones {
    display: flex;
    padding-top: 40px;
}
.tienda {
    width: 30%;
}
h1{
    font-size: 30px;

}

.p-5{
   
    background-image: url(images/phone-2.a0e481df3d808370cf1d.jpg);
    background-attachment: fixed;
    background-size: cover;

}
h2{
    color: #e7eaea;
    padding-bottom: 4%;
}
.btn-warning{
    color: white;
    border-color: white;
    border-radius: 15px;
}
.barra {
    height: 50px;

    background-image: linear-gradient(165deg, #a48dff 0, #716cf4 25%, #1e4bd8 50%, #002fbd 75%, #001ca5 100%);
}
#taxi{
    background-image: url(images/taxi.a74ffe08987564e2b9fd.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}
.anuncio{
    text-align: center;
    padding-top: 15px;
    color: #b1b0ae;
}
.formulario{
    width: 368px;
    padding-left: 45px;
}
#cir{
    background-color: rgb(112, 147, 252);
    border-radius: 10px;
    display: flex;
    color:white;
}
.footer{
    padding-top: 50px;
    background-color: rgb(90, 90, 253);
    display: flex;
}
.col-6{
    padding-bottom: 15px;
}